<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800726710662-4qqk8201mb8vhd8ec2u9f304tcddklbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800726710662-4qqk8201mb8vhd8ec2u9f304tcddklbr</string>
	<key>API_KEY</key>
	<string>AIzaSyCMlCsE_GoK0C9mH9TlsjQtgDEkpm0dCV4</string>
	<key>GCM_SENDER_ID</key>
	<string>800726710662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.test.login</string>
	<key>PROJECT_ID</key>
	<string>applelogin-9573c</string>
	<key>STORAGE_BUCKET</key>
	<string>applelogin-9573c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800726710662:ios:7c016faed743fb21691407</string>
</dict>
</plist>